<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- ESTO EVITA QUE TURBO CARGUE PETICIONES ANTES DE HACER CLICK EN ENLACES -->
    <meta name="turbo-prefetch" content="false">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('dashboardPage') }}
    {% endblock %}
</head>
<body>

{% block body %}

    <div data-section="{{ section }}">
        <div class="columns has-3-cols m-0">
            <div class="column is-3-fullhd is-3-widescreen is-3-desktop is-4-tablet square-rounded-ng">
                <h1 class="title is-size-1-full-hd is-size-2-desktop is-size-2-widescreen text-white">YOUR NOTES</h1>
            </div>
            <div class="column is-2-fullhd is-2-widescreen is-2-desktop is-1-tablet"></div>
        </div>
        <hr class="p-0 m-0">
        <div class="columns has-2-cols-tablet has-1-cols-mobile pt-5 ">
            <!-- ASIDE -->
            {{ component('AsideNav', {userId: user.id, username: user.username}) }}

            <div class="column is-9-desktop is-8-tablet py-0">
                <div class="mx-5">
                    {{ form_start(form) }}
                    <section class="grid">
                        <div class="cell is-flex  is-justify-content-flex-start is-flex-grow-4">
                            <input type="date"
                                   name="{{ field_name(form.reminderDate) }}"
                                   value="{{ field_value(form.reminderDate) }}">
                        </div>
                        <div class="cell is-flex is-flex-wrap-wrap is-justify-content-flex-end">{{  form_row(form.color) }}</div>
                    </section>

                    <div class="card sn-blue-fade m-0">
                        <div class="card-content is-fullwidth">
                            <div class="is-flex">
                                <input placeholder="MY AMAZING NOTE"
                                       name="{{ field_name(form.title) }}"
                                       value="{{ field_value(form.title) }}"
                                       class="title-input is-size-1 is-fullwidth"
                                       required>
                            </div>
                        </div>
                        <footer class="mx-5 mb-5 pb-2 is-fullheight">
                            <div class="is-size-5 has-text-weight-medium is-fullheight" style="width: 100%">
                                <div class="sn-card-color-text card-footer-container my-5">
                                    {{ form_widget(form.content) }}
                                </div>
                            </div>

                        </footer>
                    </div>

                    <div class="cell">
                        <button type="submit" id="startBtn" class="mt-5 button is-rounded button-rounded-no-outline is-size-3 bg">
                            <span class="txt-sp is-size-4">Submit</span>
                        </button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
{% block javascripts %}
    {{ encore_entry_script_tags('createNotePage') }}
{% endblock %}
</html>

