{% extends 'base.html.twig' %}

{% block title %}Hello NotesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div>
        {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.content) }}

            {{  form_row(form.creationDate) }}
            {{  form_row(form.lastModified) }}
            {{  form_row(form.reminderDate) }}
            {{  form_row(form.color) }}
        <button type="submit" id="startBtn" class="mt-5 button is-rounded button-rounded-no-outline is-size-3 bg">
            <span class="txt-sp is-size-4">Submit</span>
        </button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
