<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('loginPage') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('loginPage') }}
    {% endblock %}
</head>

{% block body %}
    <div class="columns fullscreen has-2-cols hero-body no-border-padding-margin is-centered has-text-centered">

        <section class="column is-6-desktop-only is-0-mobile hero is-fullheight is-has-background-white no-border-padding-margin">
            <figure class="image is-128x128">
                <img :src="require('../../images/Logo-noJoin.png')"/>
            </figure>
        </section>

        <section class="section column is-6-desktop is-12-tablet is-12-mobile hero is-fullheight sn-blue-fade no-border-padding-margin">
            <div class="hero-body is-centered columns no-border-padding-margin">
                <div class="column is-2"></div>
                <div class="sn-card card column is-8">
                    <div class="card-content">
                        <p class="title has-text-weight-semibold has-text-left">
                            LOG IN
                        </p>
                    </div>
                    <footer class="card-footer">
                        <form class="m-5" method="post">
                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}
                            <!-- EMAIL FIELD-->
                            <div class="field has-text-left">
                                <label class="label" for="inputUsername">Email</label>
                                <div class="control has-icons-left">
                                    <input type="email" value="{{ last_username }}" name="username" id="inputUsername" class="form-control input" autocomplete="username" required autofocus>
                                    <span class="icon is-left is-small">
                                        {{ ux_icon('octicon:mail-24', {height: '16px', width: '16px', 'aria-hidden': true}) }}
                                    </span>
                                </div>
                            </div>

                            <!--PASSWORD FIELD -->
                            <div class="field has-text-left">
                                <label class="label" for="inputPassword">Password</label>
                                <div class="control has-icons-left ">
                                    <input type="password" name="password" id="inputPassword" class="form-control input" autocomplete="current-password" required>
                                    <span class="icon is-small is-left">
                                         <i class="fa fa-envelope">{{ ux_icon('octicon:lock-16', {height: '16px', width: '16px', 'aria-hidden': true}) }} </i>
                                    </span>
                                </div>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <!--REMEMBER ME FIELD -->
                            <div class="field has-text-left">
                                <label class="label checkbox is-left has-text-left">
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>

                            <!-- SIGN IN BUTTON -->
                            <div class="field is-left has-text-left">
                                <button id="startBtn" type="submit" class="mt-5" {{ vue_component('buttonHome', {'text': "SIGN IN"}) }}></button>
                            </div>

                            {% if error %}
                                <div class="has-text-danger has-text-left">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                        </form>
                    </footer>
                </div>

                <div class="column is-2"></div>

            </div>
        </section>

    </div>
{% endblock %}
