<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('loginPage') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('registerPage') }}
    {% endblock %}
</head>

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="columns fullscreen has-2-cols hero-body no-border-padding-margin is-centered has-text-centered">

        <section class="column is-6-desktop is-0-mobile is-0-tablet is-0-touch hero is-fullheight is-has-background-white no-border-padding-margin">
            <figure class="image is-128x128">
                <img :src="require('../../images/Logo-noJoin.png')"/>
            </figure>
        </section>

        <section class="section column is-6-desktop is-12-tablet is-12-mobile hero is-fullheight sn-blue-fade no-border-padding-margin">
            <div class="hero-body is-centered columns no-border-padding-margin">
                <div class="column is-2"></div>
                <div class="sn-card card column is-8">

                    <div class="card-content">
                        <p class="title has-text-weight-semibold has-text-left">
                            REGISTER
                        </p>
                    </div>
                    <footer class="card-footer columns has-2-cols">
                        <form class="m-5 column" method="post">
                            {{ form_errors(registrationForm) }}

                            {{ form_start(registrationForm) }}

                            <!--Email field-->
                            <div class="field has-text-left">
                                <label class="label" for="inputEmail">Email</label>
                                <div class="control has-icons-left">
                                    <input maxlength="180" class="focusTransition form-control input" id="inputEmail" type="email" name="{{ field_name(registrationForm.email) }}" value="{{ field_value(registrationForm.email) }}" required>
                                    <span class="icon is-left is-small">
                                        {{ ux_icon('octicon:mail-24', {height: '16px', width: '16px', 'aria-hidden': true}) }}
                                    </span>
                                </div>
                            </div>

                            <!--Username field-->
                            <div class="field has-text-left">
                                <label class="label" for="inputUsername">Username</label>
                                <div class="control has-icons-left">
                                    <input maxlength="50" class="focusTransition form-control input" id="inputUsername" name="{{ field_name(registrationForm.username) }}" value="{{ field_value(registrationForm.username) }}" required>
                                    <span class="icon is-left is-small">
                                        {{ ux_icon('octicon:person-24', {height: '16px', width: '16px', 'aria-hidden': true}) }}
                                    </span>
                                </div>
                            </div>


                            <!--Password Field-->
                            <div class="field has-text-left">
                                <div class="alert alert-danger has-text-danger error mt-5 mb-5" role="alert">{{ form_errors(registrationForm.password.first) }}</div>
                                <label class="label" for="inputPassword">Password</label>
                                <div class="control has-icons-left">

                                        <input maxlength="255" class="focusTransition form-control input" id="inputPassword" type="password" name="{{ field_name(registrationForm.password.first) }}" value="{{ field_value(registrationForm.password.first) }}" required>
                                        <span class="icon is-left is-small">
                                             <i class="fa fa-envelope">{{ ux_icon('octicon:lock-16', {height: '16px', width: '16px', 'aria-hidden': true}) }} </i>
                                        </span>
                                </div>
                            </div>

                            <div class="field has-text-left">
                                <label class="label" for="inputConfirmPassword">Confirm Password</label>
                                <div class="control has-icons-left">
                                    <input maxlength="255" class="focusTransition form-control input" id="inputConfirmPassword" type="password" name="{{ field_name(registrationForm.password.second) }}" value="{{ field_value(registrationForm.password.second) }}" required>
                                    <span class="icon is-left is-small">
                                         <i class="fa fa-envelope">{{ ux_icon('octicon:lock-16', {height: '16px', width: '16px', 'aria-hidden': true}) }} </i>
                                    </span>
                                </div>
                            </div>

                            <div class="field has-text-left">

                                <p class="label has-text-left">
                                    {{ form_widget(registrationForm.agreeTerms) }}
                                    <label>
                                   I accept and agree the <a id="openModal">terms and conditions </a>
                                    </label>
                                </p>
                            </div>

                            <!-- MODAL -->
                            <div id="modal" class="modal">
                                <div id="modalBackground" class="modal-background"></div>

                                <div class="modal-content">
                                    <div class="box">
                                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                                        </p>
                                        <!-- Your content -->
                                    </div>
                                </div>

                                <button id="closeModal" class="modal-close is-large" aria-label="close"></button>
                            </div>

                            <!-- Register button -->
                            <div class="field is-left has-text-left">
                                <div {{ vue_component('buttonHome', {'text': "REGISTER", 'btnSize': "5"}) }}></div>
                            </div>

                            <div class="mt-5 pt-5">
                                <p class="has-text-left">Already have an account? <a href="{{ path('app_login') }}">Log in</a></p>
                            </div>
                            {{ form_end(registrationForm) }}


                        </form>
                    </footer>
                </div>

                <div class="column is-2"></div>

            </div>
        </section>
    </div>
{% endblock %}
