<div id="{{ this.id }}" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Modal title</p>
        </header>
        {% if this.message %}
        <section class="modal-card-body">
            {{ this.message }}

            {% if this.modaltype == "TAGS" %}
            <div class="">
                <input id ="selectedTag {{ this.id }}" class="input" type="text">
            </div>
            {% endif %}
        </section>
        {% endif %}

        {%if this.hasInputField %}
        <input class="modal-input" type="text">
        {% endif %}
        <footer class="modal-card-foot">
            <div class="buttons">
                <button id="acceptModal {{ this.id }}" class="button is-success">Save changes</button>
                <button id="closeModal {{ this.id }}" class="button">Cancel</button>
            </div>
        </footer>
    </div>
</div>