<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- ESTO EVITA QUE TURBO CARGUE PETICIONES ANTES DE HACER CLICK EN ENLACES -->
        <meta name="turbo-prefetch" content="false">
         <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('dashboardPage') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('dashboardPage') }}
        {% endblock %}
    </head>
    <body>

    {% block body %}

        <div>
            <div class="main-content title container-center">
                <div class="columns has-3-cols m-0">
                    <div class="column is-3 square-rounded-ng">
                        <h1 class="title is-size-1 ml-5 text-white">YOUR NOTES</h1>
                    </div>
                    <div class="column is-2"></div>
                </div>
                <hr class="p-0 m-0">
                <div class="columns has-2-cols pt-5 mx-5">

                    <!-- ASIDE -->
                    <div class="column is-3-fullhd is-3-widescreen is-3-desktop is-4-tablet">
                        <div class="is-position-sticky" style="top: 1em">
                            <aside class="menu">

                                <div class="field has-text-left">
                                    <div class="control has-icons-left">
                                        <input type="text" placeholder="Search by tag:title:content" name="searchField" id="searchFieldInput" class="focusTransition form-control input" autocomplete="username" required>
                                        <span class="icon is-left is-small">
                                                {{ ux_icon('octicon:search-24', {height: '16px', width: '16px', 'aria-hidden': true}) }}
                                            </span>
                                    </div>
                                </div>

                                <ul class="menu-list txt-sp">
                                    <li class="has-text-weight-medium is-size-4" style="user-select: none;">
                                        <a id="notes" class="is-active ">
                                            <span class="icon is-left ">
                                                {{ ux_icon('proicons:note', {height: '32px', width: '32px', 'aria-hidden': true})}}
                                            </span>
                                            Notes
                                        </a>
                                        <ul id="notesOptions">
                                            <li style="user-select: none;">
                                                <a href="{{ path('new_note') }}">
                                                    <span class="icon is-left">
                                                         {{ ux_icon('proicons:add-circular') }}
                                                    </span>
                                                    Create Note
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class=" is-size-4 has-text-weight-medium" style="user-select: none;">
                                        <a id="archived">
                                            <span class="icon is-left">
                                                {{ ux_icon('proicons:archive') }}
                                            </span>
                                            Archived
                                        </a>
                                    </li>

                                    <li class=" is-size-4 has-text-weight-medium" style="user-select: none;">
                                        <a id="reminder">
                                            <span class="icon is-left">
                                                {{ ux_icon('proicons:bell') }}
                                            </span>
                                            Reminders
                                        </a>
                                    </li>

                                    <li class=" is-size-4 has-text-weight-medium " style="user-select: none;">
                                        <a id="addTags">
                                            <span class="icon is-left">
                                                {{ ux_icon('proicons:add-circular') }}
                                            </span>
                                            Add Tags
                                        </a>
                                    </li>

                                    <hr>

                                    <!-- PROFILE PART -->
                                    <li class=" is-size-4 has-text-weight-medium " style="user-select: none;">
                                        <a id="user">
                                            <span class="icon is-left icon-sp">
                                                {{ ux_icon('proicons:person-2') }}
                                            </span>
                                            <span class="txt-sp">{{ user.getUsername }}</span>
                                        </a>
                                        <ul id="userOptions">
                                            <li style="user-select: none;">
                                                <a href="#">
                                                    <span class="icon is-left">
                                                         {{ ux_icon('icon-park-outline:config') }}
                                                    </span>
                                                    Configuration
                                                </a>
                                            </li>

                                            <li style="user-select: none;" class="is-danger">
                                                <a class="has-background-danger" href="{{ path('app_logout', {'id' : user.getId}) }}">
                                                    <span class="icon is-left">
                                                          {{ ux_icon('icon-park-outline:logout') }}

                                                    </span>
                                                    Log out
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </aside>
                        </div>
                    </div>

                    <!-- LISTAR NOTAS AQUI -->
                    <div class="column is-9-desktop is-8-tablet">
                        <div class="grid is-col-min-16">
                            {%  if notes|length == 0 %}
                                <p class="is-size-4 has-text-weight-medium has-text-grey-light">Seems like you haven't created any notes yet. <a href="{{ path('new_note') }}">Get started</a></p>
                            {% endif %}
                            {%  for note in notes %}
                                <div class="mx-5" data-tilt {{ vue_component('notePreviewSN', {'title': note.title, 'content': note.content, 'reminderDate': note.creationDate, 'color': note.color}) }}></div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    {% endblock %}
    </body>
</html>

